/* stylelint-disable */

.page-sustainability{
    margin-top: 200px;
    @include bp (md) {
        margin-top: 150px;
    }

    .body-color {
        p {
            color: $text-color;
        }
    }


    .introduction-section {
        text-align: center;
        h3 {
            color: $red;
            font-size: 1.5em;
        }
        p {
            width: 100%;
        }
    }

    .page-video {
        text-align: center;
        margin: 50px 0px;
        img {
            width: 100%;
            @include bp (md) {
                width: 60%;
            }
        }
        .play-btn {
            @include bp (md) {
                height: 100px;
                width: 100px;
                i {
                    top: 20%;
                    left: 5%;
                    position: relative;
                    height: 2.5em;
                    width: 2.5em;
                }
            }
        }
    }

    .reports-section {
        margin: 7% 0;
        .container {
            display: block;
            @include bp (md) {
                display: flex;
            }
            .actual-report {
                h3 {
                    width: 100%;
                    font-size: 1.1rem;
                    margin-bottom: 10%;
                    @include bp (md) {
                        width: 75%;
                        font-size: 1.8rem;
                        margin-bottom: 4%;
                    }
                }
                .container-buttons {
                    text-align: center;
                    @include bp (md) {
                        text-align: left;
                    }
                    .button {
                        width: 100%;
                        margin-left: 0px;
                        @include bp (md) {
                            margin-left: 10px;
                            width: auto;
                        }
                    }

                }
            }

            .others-reports {
                padding: 0px;
                margin-top: 10%;
                @include bp (md) {
                    padding: 15px;
                    margin-top: 0px;
                }
                h3 {
                    margin-bottom: 7%; 
                    @include bp (md) {
                        margin-bottom: 4%; 
                    }
                }
                ul {
                    display: inline-block;
                    padding: 0px;
                    li {
                        margin: 0;
                        display: inline-block;
                        a {
                            color: $red;
                        }
                        
                    }
                }
            }
        }
    }

    .sustainability-section {
        .container {
            padding: 0;
            @include bp (md) {
                padding: 0 15px;
                max-width: 90%;
            }

            .video-container {
                .play-btn {
                    height: 70px;
                    width: 70px;
                    @include bp (md) {
                        width: 120px;
                        height: 120px;
                        top: calc(50% - 50px);
                        left: calc(50% - 50px);
                    }
                    i {
                        width: 45px;
                        height: 35px;
                        @include bp (md) {
                            height: 90px;
                            width: 40px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        h2 {
            margin-bottom: 10%;
            padding: 0 15px;
            @include bp (md) {
                margin-bottom: 7%;
                padding: 0;
            }
        }
        .description {
            padding: 0 15px;
            @include bp (md) {
                padding: 0;
            }
            p {
                color: $white;
            }
        }
        .card-social {
            justify-content: normal;
        }
    }

    .certification-logos {
        margin: 50px 0 45px;
        @include bp (md) {
            margin: 50px 0 60px;
        }
    }

    .documents-section {
        padding-top: 0px;
        margin-top: 0px;
        .card {
            margin: 0px 0px 1px;
            @include bp (md) {
                margin: 10px;
            }
            .button-collapse.collapsed i {
                margin-right: 10px;
                @include bp (md) {
                    margin-right: 15px;
                }
            }
        }
    }
}