node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
docker
coveragels
vendor
.docksal
app/cache/*
app/logs/*
app/sessions
web/uploads
wp-content/uploads
wp-content/themes/theme_purdy/dist
wp-content/themes/theme_purdy/node_modules
wp-content/themes/theme_purdy/vendor