/* stylelint-disable */
footer {
    position: relative;
    .content-info {
        @extend .py-5;
        width: 100%;
        background-color : $blue-F7;
        .block-schedule {
            .item {
                @extend .py-2;
                max-width: 300px;
                &:first-child {
                    padding-top: 0 !important;
                } 
            }
        }
        .block-social {
            .navbar {
                @extend .p-0;
                .nav-link {
                    display: flex;
                    justify-content: space-between;
                }
            }
            .icons {
                @extend .f-center-left;
                width: 100%;

                a{
                    width: 38px;
                    height: 38px;
                    display: block;
                    &:first-child {
                        margin-right: 15px;
                    }
                } 
            }
            .block {
                margin-bottom: 30px;
                .social {
                    display: flex;
                    align-items: center;
                }
            } 
        }

        .navbar {
            @extend .p-0;
            .navbar-nav {
                .nav-item {
                    &:first-child{
                        a{
                            padding-top: 0;
                        }
                    }
                    .nav-link {
                        @extend .py-3;
                        color: $text-color;
                    }

                }
            }
        }
    }
    .content-brand {
        width: 100%;
        .block-brand {
            @extend .f-top-center,.pt-4;
            min-height: 200px;
            .navbar-brand {
                img {
                    width: 100%;
                    max-width: 220px;
                }
            }
        }
    } 

    >[class^="icon-"], >[class*=" icon-"] {
        position: absolute;
    }

    .t-subtitle-2 {
        @extend .mb-3;

    }

    // BACKGROUND DECORATIONS

    .icon-deco-waves {
        bottom: 184px;
        right: 20%;
        font-size: 30px;
        color: $orange;
        top: initial;
        
        @include bp(sm) {
            bottom: initial;
            top: -50px;
            right: 0;
            font-size: 90px;
            overflow: hidden;
            width: 100px;
        }
    }
    .icon-deco-triangle {
        bottom: initial;
        top: -22px;
        left: 80%;
        font-size: 40px;
        color: $green;
        @include bp(sm) {
            top: initial;
            bottom: 170px;
            left: 28%; 
            font-size: 80px;
        }
    }
    .icon-deco-circle {
        @extend .hide-sm;
        top: 25%;
        left: 62%;
        font-size: 60px;
        color: $blue;
    }
}