/* stylelint-disable */
.main-header {
  width: 100%;
  .content-brand {
    @extend .f-center;
    height: 75px;
    .block {
      display: flex;
      justify-content: space-between;
      .block-brand {
        .logotype {
          width: 100%;
          max-width: 190px;
        }
      }
      .block-accesibility {
        @extend .f-center;
        .block-zoom {
          padding: 4px;
          display: flex;
          border: 2px solid rgba($gray,.2);
          height: 39px;
          position: relative;
          button {
            @extend .f-center;
            padding-left: 15px;
            padding-right: 15px;
            background-color: transparent;
            border: none;
            font-size: 16px;
            &.btn-large-letter {
              i{
                color: $main-color;
              }
            }
            &.btn-small-letter {

              i{
                color: $orange;
              }
            }
          }
          &:before {
            content: "";
            position: absolute;
            height: 80%;
            width: 2px;
            background-color: rgba($gray,.2);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }
      .block-help {
        button {
          background-color: transparent;
          border: none;
        }
      }


    }
  }
  .navbar {
    height: 61px;
    font-size: 16px;
    .nav-item {
      font-size: 16px;
      &.item-icon {
        @extend .f-center;
        padding-left: 20px;
        .nav-link {
          font-family: $base-font-family;
        }
        &:before {
          font-size: 32px;
          color: $main-color;
        }
      }
      .nav-link {
        padding: 9px 18px;
        font-size: 13px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          height: 3px;
          width: 0%;
          background-color: $main-color;
          transition-duration: 1s;
          bottom: 0;
          left: 0;
        }
      }
      &.active {
        .nav-link {
          &:after {
            width: calc(100% - 32px);
          }
        }
      }
      &:first-child {
        .nav-link {
          padding-left: 0px !important;
        }
      }
    }
  }

}