/* stylelint-disable */

// VERTICAL TABS
.t-tab-vertical {
    .nav-pills {
        @extend .shadow,.py-4;
        .nav-item {
            @extend .my-1;
            width: 100%;
            .nav-link {
                padding-top: 12px;
                padding-bottom: 12px;
                border-radius: 0;
                border-top-right-radius: 23px;
                border-bottom-right-radius: 23px;
            }
        }
    }
    .tab-conten {

    }
}