/* stylelint-disable */


/** Import Bootstrap functions */

@import "~bootstrap/scss/functions";
$red: #ed1c23;
$cavalry: #8295bc;
$nitro: #ffcb06;
$dark-blue: #293147;
$bg-blue: #1E2535;
$bg-dark-blue: #121822;
$light-blue: #47526D;
$gray: #F3F3F3;
$white: #fff;
$main-color: $dark-blue;
$second-color: $red;
$text-color: $light-blue;
$root-font-size: 16px;
$theme-colors: ( primary: $main-color, secondary: $second-color);
$base-font-family: 'Gotham';

/** Bootstrap navbar fix (https://git.io/fADqW) */

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
// MEDIA QUERIES
$sm: 576px;
$md: 768px;
$lg: 960px;
$xl: 1200px;