/* stylelint-disable */

.button {
    display: inline-block;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 0.3s ease-in;
    text-decoration: none;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    &:active {
        text-decoration: underline!important;
    }
}

.button-primary {
    padding: 10px 20px;
    background-color: $red;
    color: $white;
    &:hover {
        background-color: darken($red, 10%);
        color: $white;
    }
    &:active {
        background-color: $red;
        color: $white;
    }
}

.button-secondary {
    padding: 10px 20px;
    border: 1px solid $dark-blue;
}

.button-arrow {
    position: relative;
    z-index: 2;
    &:before {
        top: -10%;
        right: -10px;
        position: absolute;
        z-index: -1;
        display: block;
        content: '';
        height: 120%;
        width: 30px;
        background-color: $red;
        transform-origin: center right;
        transform: scaleX(1);
        transition: all 0.3s ease-in;
    }
    &:hover {
        &:before {
            transform: scaleX(3);
            background-color: darken($red, 10%);
        }
    }
    &:active {
        &:before {
            transform: scaleX(1);
            background-color: $red;
        }
    }
}

.button-collapse {
    color: $white;
    background-color: $bg-blue;
    padding: 10px;
    width: 100%;
    text-align: left;
    position: relative;
    margin: 0;
    i {
        transition: all 0.3s ease-in;
        transform: rotate(45deg);
        margin-right: 15px;
    }
    &.collapsed {
        i {
            transform: rotate(0deg);
        }
    }
}

.button-sustainability {
    margin: 3% 10px 25px;
    padding: 18px 15%;
    width: 90%;
    font-size: 12px;
    text-align: center;
    @include bp (md) {
        margin: 0px;
        width: 50%;
    }
}