/* stylelint-disable */

.card {
    border: none;
    border-radius: 0;
}

.card-service {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    max-width: 300px;
    margin: 30px auto;
    .card-icon {
        margin: 10px;
        width: 53px;
        img {
            width: 100%;
        }
    }
    .card-content {
        padding: 10px;
        background-color: $gray;
        align-items: flex-start;
        h3 {
            font-size: 1.3em;
        }
        p {
            font-size: 0.8em;
        }
    }
}

.card-social {
    padding: 20px;
    background-color: $bg-dark-blue;
    align-items: flex-start;
    min-height: 550px;
    justify-content: space-around;
    img {
        margin: 0 auto;
        width: 90%;
    }
    p {
        color: $white;
    }
}