/* stylelint-disable */

.modal-dialog {
    width: 90%;
    max-width: 800px;
    margin: 4em auto;
}

.modal-content {
    position: relative;
    .close {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 99;
        opacity: 1;
        transform: rotate(45deg);
    }
}

.modal-services {
    .modal-content {
        border: none;
        border-radius: 0;
        color: $white;
    }
    .modal-header {
        background-color: $bg-dark-blue;
        border-radius: 0;
        display: block;
        padding: 15px;
        border-bottom: none;
    }
    .modal-body {
        background-color: $bg-blue;
        text-align: center;
        padding: 40px 20px 60px;
        min-height: 320px;
    }
}

.modal-video {
    iframe {
        width: 100%;
        height: auto;
        min-height: 380px;
    }
}