/* stylelint-disable */

.prev,
.next {
    position: absolute;
    display: flex!important;
    opacity: 1;
    align-items: center;
    padding: 10px;
    justify-content: flex-end;
    top: auto;
    height: 30px;
    width: 20%;
    bottom: 20px;
    color: $white;
    align-items: center;
    right: 10px;
    i {
        transition: all 0.2s ease;
        margin: 0 10px;
    }
    &:hover {
        color: $white;
        i {
            transform: translateX(10px);
        }
    }
}

.prev {
    justify-content: flex-start;
    left: 10px;
    i {
        transform: rotate(180deg);
    }
    &:hover {
        i {
            transform: translateX(-10px) rotate(180deg);
        }
    }
}

.social-slider {
    width: 100%;
}

.slider-multi {
    margin-top: 80px;
    @include bp (sm) {
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        .slider-item {
            margin: 10px;
            width: 30%;
        }
    }
    .slick-slide {
        margin: 10px;
        .slider-item {
            height: 100%;
        }
    }
    .slick-dots {
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding: 0;
        li button {
            display: block;
            height: 4px;
            width: 25px;
            background-color: $white;
            margin: 12px;
            border: none;
            color: transparent
        }
        li.slick-active button {
            background-color: $red;
        }
    }
}